In [27]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold
# import xgboost
from sklearn.ensemble import RandomForestRegressor 
# import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import minmax_scale,StandardScaler, MinMaxScaler
# from tqdm import tqdm_notebook

In [2]:
os.chdir(r"../Data/London")

In [3]:
df = pd.read_csv('AA_LONDON_DATA_VER3_DATA_TABLE.csv')

In [4]:
camdf = pd.read_csv('AA_LONDON_CAMERA_DATA_TABLE.csv')

In [5]:
os.chdir(r"../../Immediate Result")

In [6]:
df[:2]

,S_NO,CAMERA_NAME,DOWNLOAD_DATE,IMG_NAME,DENSITY_VALUE,DL_TIMESTAMP_LOCAL,COMMENTS,CAMERA_ID,DL_TIMESTAMP_CITY,SELECT_FLAG,RED,GREEN,BLUE
0,896208,549744,22-NOV-10,1290433594,16109.680,22-NOV-10 02.46.34.000000000 PM,NaN,182,22-NOV-10 01.46.34.000000000 PM,1,63621.507812,65366.414062,64108.488281
1,896209,549744,22-NOV-10,1290434044,11318.897,22-NOV-10 02.54.04.000000000 PM,NaN,182,22-NOV-10 01.54.04.000000000 PM,1,64379.992188,66520.500000,65209.515625

In [7]:
camdf[:2]

,CAMERA_ID,CAMERA_NAME,CAMERA_DESC,EASTING,NORTHING,GEO_LAT,GEO_LON,CONGESTION_ZONE
0,105,546600,A4 Cromwell Road by Earls Court Road,525351.39,178843.06,51.494572,-0.195707,0
1,106,546610,A4 Great West Road By Macbeth Street,522781.00,178369.00,51.490875,-0.232884,0

In [8]:
mergedf = df.merge(camdf,left_on="CAMERA_ID",right_on="CAMERA_ID")

tdf = mergedf[["CAMERA_ID","GEO_LON","GEO_LAT","DL_TIMESTAMP_CITY","DENSITY_VALUE"]].copy()

tdf['TIMESTAMP']  = pd.to_datetime(tdf['DL_TIMESTAMP_CITY'],format="%d-%b-%y %I.%M.%S.000000000 %p")

try:
    tdf.drop("DL_TIMESTAMP_CITY",axis=1,inplace=True)
except:
    print("column doesn't exist")

In [9]:
tdf[:2]

   CAMERA_ID   GEO_LON    GEO_LAT  DENSITY_VALUE           TIMESTAMP
0        182 -0.245122  51.616876      16109.680 2010-11-22 13:46:34
1        182 -0.245122  51.616876      11318.897 2010-11-22 13:54:04

In [10]:
tdf["TIME_EPOCH"] = (tdf.TIMESTAMP.astype(np.int64) // 10**9)

In [11]:
tdf["TIME_EPOCH"] -= tdf.TIME_EPOCH.min()

In [12]:
tdf.TIMESTAMP.describe()

count                  896246
unique                 401908
top       2010-10-24 10:17:03
freq                      163
first     2010-10-11 09:55:01
last      2010-11-22 18:59:42
Name: TIMESTAMP, dtype: object

In [13]:
tdf["TIME_BUCKET"] = tdf.TIME_EPOCH//600

In [14]:
tdf[:2]

,CAMERA_ID,GEO_LON,GEO_LAT,DENSITY_VALUE,TIMESTAMP,TIME_EPOCH,TIME_BUCKET
0,182,-0.245122,51.616876,16109.680,2010-11-22 13:46:34,3642693,6071
1,182,-0.245122,51.616876,11318.897,2010-11-22 13:54:04,3643143,6071

There are 89 cameras with more than 5000 entries

In [23]:
count_per_camera = tdf.groupby("CAMERA_ID").count().iloc[:,1]
cam_id_with_morethan_5000 = count_per_camera.index[count_per_camera > 5000]

In [24]:
tdf_1 = tdf[tdf.CAMERA_ID.isin(cam_id_with_morethan_5000)]

In [26]:
tdf_1[:2]

,CAMERA_ID,GEO_LON,GEO_LAT,DENSITY_VALUE,TIMESTAMP,TIME_EPOCH,TIME_BUCKET
214616,120,-0.126116,51.515619,20771.134,2010-11-22 12:56:01,3639660,6066
214617,120,-0.126116,51.515619,25959.132,2010-11-22 13:02:01,3640020,6066

aggregating records for each 30minutes for each camera:

In [30]:
tdf_30min = tdf_1.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='30min')]).mean()

Let's get the first and last recorded timestamp for each camera.

In [49]:
first_last_ts = tdf_30min.groupby("CAMERA_ID").apply(lambda x: (x.index[0][1],x.index[len(x)-1][1] ) )

Let's get most frequent start and end times

In [56]:
from collections import Counter

In [65]:
most_common_st = Counter([ts1 for ts1,ts2 in first_last_ts.values]).most_common(2)

most_common_en = Counter([ts2 for ts1,ts2 in first_last_ts.values]).most_common(2)

Finding cameras that have the same start and end times as most freq

In [101]:
cameras_with_most_freq_st_and_en_filter = tdf_30min.reset_index(level=1).groupby("CAMERA_ID").apply(lambda x: x.TIMESTAMP.min() == most_common_st[0][0] and x.TIMESTAMP.max() == most_common_en[0][0])
cameras_with_most_freq_st_and_en = cameras_with_most_freq_st_and_en_filter[cameras_with_most_freq_st_and_en_filter == True]

In [109]:
tdf_30min_matching_st_en = tdf_30min[tdf_30min.index.get_level_values(0).isin(cameras_with_most_freq_st_and_en.index)]

In [115]:
tdf_30min_matching_st_en.reset_index(1,inplace=True)

Let's select only the records between 9:30am and 6:30pm.

In [155]:
tdf_st_to_en = tdf_30min_matching_st_en[tdf_30min_matching_st_en.TIMESTAMP.apply(lambda x: x.time() >= most_common_st[0][0].time() and x.time() <= most_common_en[0][0].time()  )]

In [157]:
len(tdf_st_to_en)

45278

there are still some missing 30min bins:

In [156]:
tdf_st_to_en.groupby("CAMERA_ID").count()[:3]

           TIMESTAMP  GEO_LON  GEO_LAT  DENSITY_VALUE  TIME_EPOCH  TIME_BUCKET
CAMERA_ID
2                624      624      624            624         624          624
4                630      630      630            630         630          630
5                634      634      634            634         634          634

Let's add all the missing times with NaN values

In [168]:
all_daily_bins = pd.date_range(str(most_common_st[0][0].time()), str(most_common_en[0][0].time()), freq="30min").time

In [169]:
all_daily_bins

array([datetime.time(9, 30), datetime.time(10, 0), datetime.time(10, 30),
       datetime.time(11, 0), datetime.time(11, 30), datetime.time(12, 0),
       datetime.time(12, 30), datetime.time(13, 0), datetime.time(13, 30),
       datetime.time(14, 0), datetime.time(14, 30), datetime.time(15, 0),
       datetime.time(15, 30), datetime.time(16, 0), datetime.time(16, 30),
       datetime.time(17, 0), datetime.time(17, 30), datetime.time(18, 0),
       datetime.time(18, 30)], dtype=object)

In [177]:
all_bins_series = pd.Series(all_daily_bins,name="TIMESTAMP")

Let's for each day, have 9:30 to 18:30 (with NaNs for missing)

In [308]:
def fill_with_na_per_day(df):
    st = df.TIMESTAMP.min()
    st = st.replace(hour=9,minute=30)
    en = df.TIMESTAMP.max()
    en = en.replace(hour=18,minute=30)
    rng = pd.date_range(st, en, freq="30min")
    df = df.merge(pd.Series(rng,name="TIMESTAMP"),how="outer")
    return df.sort_values("TIMESTAMP")
#     return .reset_index(level=1,drop=True)

In [309]:
tdf_st_en_with_nan = tdf_st_to_en.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='1D')]).apply(fill_with_na_per_day)

In [310]:
tdf_st_en_with_nan.reset_index(level=1,drop=True,inplace=True)

In [311]:
tdf_st_en_with_nan.reset_index(level=1,drop=True,inplace=True)

In [312]:
tdf_st_en_with_nan

,TIMESTAMP,GEO_LON,GEO_LAT,DENSITY_VALUE,TIME_EPOCH,TIME_BUCKET
CAMERA_ID,,,,,,
2,2010-10-11 09:30:00,-0.223275,51.490012,49826.607500,6.000000e+01,0.000000
2,2010-10-11 10:00:00,-0.223275,51.490012,37574.399333,1.180000e+03,1.555556
2,2010-10-11 10:30:00,-0.223275,51.490012,47599.954333,3.150000e+03,4.833333
2,2010-10-11 11:00:00,-0.223275,51.490012,42265.094556,4.800000e+03,7.555556
2,2010-10-11 11:30:00,-0.223275,51.490012,30107.977000,6.510300e+03,10.400000
2,2010-10-11 12:00:00,-0.223275,51.490012,18069.028100,8.311000e+03,13.400000
2,2010-10-11 12:30:00,-0.223275,51.490012,19753.544500,1.011100e+04,16.400000
2,2010-10-11 13:00:00,-0.223275,51.490012,21548.734400,1.191100e+04,19.400000
2,2010-10-11 13:30:00,-0.223275,51.490012,22430.078000,1.371100e+04,22.400000
2,2010-10-11 14:00:00,-0.223275,51.490012,25246.986400,1.550500e+04,25.400000
2,2010-10-11 14:30:00,-0.223275,51.490012,28977.164000,1.731110e+04,28.400000
2,2010-10-11 15:00:00,-0.223275,51.490012,29895.958000,1.907343e+04,31.285714
2,2010-10-11 15:30:00,-0.223275,51.490012,31264.022500,2.091200e+04,34.400000
2,2010-10-11 16:00:00,-0.223275,51.490012,29060.241300,2.271200e+04,37.400000
2,2010-10-11 16:30:00,-0.223275,51.490012,31478.866750,2.448950e+04,40.375000
2,2010-10-11 17:00:00,-0.223275,51.490012,32621.576444,2.636200e+04,43.444444
2,2010-10-11 17:30:00,-0.223275,51.490012,30991.790800,2.811200e+04,46.400000
2,2010-10-11 18:00:00,-0.223275,51.490012,25818.537400,2.991200e+04,49.400000
2,2010-10-11 18:30:00,-0.223275,51.490012,42484.588700,3.171200e+04,52.400000
2,2010-10-12 09:30:00,-0.223275,51.490012,29125.356000,8.646000e+04,144.000000
2,2010-10-12 10:00:00,-0.223275,51.490012,27304.748000,8.750078e+04,145.333333
2,2010-10-12 10:30:00,-0.223275,51.490012,23116.482625,8.931100e+04,148.500000
2,2010-10-12 11:00:00,-0.223275,51.490012,20018.267778,9.103478e+04,151.333333
2,2010-10-12 11:30:00,-0.223275,51.490012,17945.300000,9.290600e+04,154.400000
2,2010-10-12 12:00:00,-0.223275,51.490012,19173.948800,9.471200e+04,157.400000
2,2010-10-12 12:30:00,-0.223275,51.490012,19341.559000,9.660300e+04,160.555556
2,2010-10-12 13:00:00,-0.223275,51.490012,21265.746000,9.831300e+04,163.400000
2,2010-10-12 13:30:00,-0.223275,51.490012,18444.883667,1.001830e+05,166.555556
2,2010-10-12 14:00:00,-0.223275,51.490012,21044.673900,1.019130e+05,169.400000
2,2010-10-12 14:30:00,-0.223275,51.490012,21232.255200,1.037070e+05,172.400000
...,...,...,...,...,...,...
120,2010-11-21 13:30:00,-0.126116,51.515619,14857.370833,3.556292e+06,5926.666667
120,2010-11-21 14:00:00,-0.126116,51.515619,16160.450000,3.557792e+06,5929.166667
120,2010-11-21 14:30:00,-0.126116,51.515619,13228.062314,3.559879e+06,5932.714286
120,2010-11-21 15:00:00,-0.126116,51.515619,14905.111143,3.561448e+06,5935.285714
120,2010-11-21 15:30:00,-0.126116,51.515619,16414.731143,3.563429e+06,5938.571429
120,2010-11-21 16:00:00,-0.126116,51.515619,25138.935429,3.565100e+06,5941.285714
120,2010-11-21 16:30:00,-0.126116,51.515619,22778.655286,3.566926e+06,5944.428571
120,2010-11-21 17:00:00,-0.126116,51.515619,21488.953000,3.568848e+06,5947.625000
120,2010-11-21 17:30:00,-0.126116,51.515619,19604.650500,3.570468e+06,5950.250000
120,2010-11-21 18:00:00,-0.126116,51.515619,19734.982714,3.572300e+06,5953.285714
120,2010-11-21 18:30:00,-0.126116,51.515619,17760.736286,3.573947e+06,5956.142857
120,2010-11-22 09:30:00,-0.126116,51.515619,26165.173333,3.628680e+06,6047.333333
120,2010-11-22 10:00:00,-0.126116,51.515619,20302.475333,3.630180e+06,6050.000000
120,2010-11-22 10:30:00,-0.126116,51.515619,20783.145800,3.631884e+06,6052.800000
120,2010-11-22 11:00:00,-0.126116,51.515619,23128.802000,3.633450e+06,6055.500000
120,2010-11-22 11:30:00,NaN,NaN,NaN,NaN,NaN
120,2010-11-22 12:00:00,NaN,NaN,NaN,NaN,NaN
120,2010-11-22 12:30:00,-0.126116,51.515619,20771.134000,3.639660e+06,6066.000000
120,2010-11-22 13:00:00,-0.126116,51.515619,24583.306000,3.640714e+06,6067.428571
120,2010-11-22 13:30:00,-0.126116,51.515619,19669.725000,3.642468e+06,6070.200000
120,2010-11-22 14:00:00,-0.126116,51.515619,17531.049750,3.644656e+06,6073.750000
120,2010-11-22 14:30:00,-0.126116,51.515619,18480.386333,3.646411e+06,6077.000000
120,2010-11-22 15:00:00,-0.126116,51.515619,16318.461667,3.647851e+06,6079.000000
120,2010-11-22 15:30:00,-0.126116,51.515619,15982.334000,3.649696e+06,6082.250000
120,2010-11-22 16:00:00,-0.126116,51.515619,23038.957250,3.651766e+06,6085.875000
120,2010-11-22 16:30:00,-0.126116,51.515619,22594.280000,3.653341e+06,6088.750000
120,2010-11-22 17:00:00,-0.126116,51.515619,19846.934600,3.654915e+06,6091.200000
120,2010-11-22 17:30:00,-0.126116,51.515619,23521.566500,3.657094e+06,6094.750000
120,2010-11-22 18:00:00,-0.126116,51.515619,23232.203200,3.658770e+06,6097.600000
120,2010-11-22 18:30:00,-0.126116,51.515619,21712.677429,3.660608e+06,6100.571429

Let's get the cameras that have all the 40 days.

In [313]:
countdf = tdf_st_en_with_nan.fillna(-1).groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='1D')]).count()
daycountdf = countdf["DENSITY_VALUE"].groupby("CAMERA_ID").count()
cam_ids_with_all_40_days = daycountdf[daycountdf == 40].index

In [314]:
len(tdf_st_en_with_nan)

55765

In [317]:
cleandf_with_na = tdf_st_en_with_nan[tdf_st_en_with_nan.index.isin(cam_ids_with_all_40_days)]

In [318]:
len(cleandf_with_na)

44080

In [316]:
58*19*40 #58 cameras, 19 slots per day (30 min), 40 days.

44080

In [319]:
cleandf_with_na

,TIMESTAMP,GEO_LON,GEO_LAT,DENSITY_VALUE,TIME_EPOCH,TIME_BUCKET
CAMERA_ID,,,,,,
4,2010-10-11 09:30:00,-0.227278,51.491661,53547.356500,6.000000e+01,0.000000
4,2010-10-11 10:00:00,-0.227278,51.491661,46199.700875,1.290000e+03,1.750000
4,2010-10-11 10:30:00,-0.227278,51.491661,39602.705900,2.910000e+03,4.400000
4,2010-10-11 11:00:00,-0.227278,51.491661,27179.430333,4.800000e+03,7.555556
4,2010-10-11 11:30:00,-0.227278,51.491661,23527.222300,6.510100e+03,10.400000
4,2010-10-11 12:00:00,-0.227278,51.491661,19940.461500,8.311000e+03,13.400000
4,2010-10-11 12:30:00,-0.227278,51.491661,20405.220000,1.011100e+04,16.400000
4,2010-10-11 13:00:00,-0.227278,51.491661,21775.247000,1.191100e+04,19.400000
4,2010-10-11 13:30:00,-0.227278,51.491661,18727.309900,1.371100e+04,22.400000
4,2010-10-11 14:00:00,-0.227278,51.491661,17784.156700,1.550500e+04,25.400000
4,2010-10-11 14:30:00,-0.227278,51.491661,22258.310300,1.731110e+04,28.400000
4,2010-10-11 15:00:00,-0.227278,51.491661,22193.410571,1.907343e+04,31.285714
4,2010-10-11 15:30:00,-0.227278,51.491661,27519.301500,2.091200e+04,34.400000
4,2010-10-11 16:00:00,-0.227278,51.491661,28997.986900,2.271200e+04,37.400000
4,2010-10-11 16:30:00,-0.227278,51.491661,35023.966857,2.461057e+04,40.571429
4,2010-10-11 17:00:00,-0.227278,51.491661,40253.142111,2.636200e+04,43.444444
4,2010-10-11 17:30:00,-0.227278,51.491661,36202.488400,2.811200e+04,46.400000
4,2010-10-11 18:00:00,-0.227278,51.491661,31065.698600,2.991200e+04,49.400000
4,2010-10-11 18:30:00,-0.227278,51.491661,40567.352100,3.171200e+04,52.400000
4,2010-10-12 09:30:00,-0.227278,51.491661,26398.705000,8.646000e+04,144.000000
4,2010-10-12 10:00:00,-0.227278,51.491661,25672.277750,8.739825e+04,145.125000
4,2010-10-12 10:30:00,-0.227278,51.491661,25540.810750,8.931100e+04,148.500000
4,2010-10-12 11:00:00,-0.227278,51.491661,22867.274333,9.103478e+04,151.333333
4,2010-10-12 11:30:00,-0.227278,51.491661,24570.475400,9.290600e+04,154.400000
4,2010-10-12 12:00:00,-0.227278,51.491661,21527.239500,9.471220e+04,157.400000
4,2010-10-12 12:30:00,-0.227278,51.491661,18580.633667,9.660300e+04,160.555556
4,2010-10-12 13:00:00,-0.227278,51.491661,17559.592010,9.831300e+04,163.400000
4,2010-10-12 13:30:00,-0.227278,51.491661,14780.538500,1.001130e+05,166.400000
4,2010-10-12 14:00:00,-0.227278,51.491661,12385.940600,1.019130e+05,169.400000
4,2010-10-12 14:30:00,-0.227278,51.491661,12073.523200,1.037073e+05,172.400000
...,...,...,...,...,...,...
120,2010-11-21 13:30:00,-0.126116,51.515619,14857.370833,3.556292e+06,5926.666667
120,2010-11-21 14:00:00,-0.126116,51.515619,16160.450000,3.557792e+06,5929.166667
120,2010-11-21 14:30:00,-0.126116,51.515619,13228.062314,3.559879e+06,5932.714286
120,2010-11-21 15:00:00,-0.126116,51.515619,14905.111143,3.561448e+06,5935.285714
120,2010-11-21 15:30:00,-0.126116,51.515619,16414.731143,3.563429e+06,5938.571429
120,2010-11-21 16:00:00,-0.126116,51.515619,25138.935429,3.565100e+06,5941.285714
120,2010-11-21 16:30:00,-0.126116,51.515619,22778.655286,3.566926e+06,5944.428571
120,2010-11-21 17:00:00,-0.126116,51.515619,21488.953000,3.568848e+06,5947.625000
120,2010-11-21 17:30:00,-0.126116,51.515619,19604.650500,3.570468e+06,5950.250000
120,2010-11-21 18:00:00,-0.126116,51.515619,19734.982714,3.572300e+06,5953.285714
120,2010-11-21 18:30:00,-0.126116,51.515619,17760.736286,3.573947e+06,5956.142857
120,2010-11-22 09:30:00,-0.126116,51.515619,26165.173333,3.628680e+06,6047.333333
120,2010-11-22 10:00:00,-0.126116,51.515619,20302.475333,3.630180e+06,6050.000000
120,2010-11-22 10:30:00,-0.126116,51.515619,20783.145800,3.631884e+06,6052.800000
120,2010-11-22 11:00:00,-0.126116,51.515619,23128.802000,3.633450e+06,6055.500000
120,2010-11-22 11:30:00,NaN,NaN,NaN,NaN,NaN
120,2010-11-22 12:00:00,NaN,NaN,NaN,NaN,NaN
120,2010-11-22 12:30:00,-0.126116,51.515619,20771.134000,3.639660e+06,6066.000000
120,2010-11-22 13:00:00,-0.126116,51.515619,24583.306000,3.640714e+06,6067.428571
120,2010-11-22 13:30:00,-0.126116,51.515619,19669.725000,3.642468e+06,6070.200000
120,2010-11-22 14:00:00,-0.126116,51.515619,17531.049750,3.644656e+06,6073.750000
120,2010-11-22 14:30:00,-0.126116,51.515619,18480.386333,3.646411e+06,6077.000000
120,2010-11-22 15:00:00,-0.126116,51.515619,16318.461667,3.647851e+06,6079.000000
120,2010-11-22 15:30:00,-0.126116,51.515619,15982.334000,3.649696e+06,6082.250000
120,2010-11-22 16:00:00,-0.126116,51.515619,23038.957250,3.651766e+06,6085.875000
120,2010-11-22 16:30:00,-0.126116,51.515619,22594.280000,3.653341e+06,6088.750000
120,2010-11-22 17:00:00,-0.126116,51.515619,19846.934600,3.654915e+06,6091.200000
120,2010-11-22 17:30:00,-0.126116,51.515619,23521.566500,3.657094e+06,6094.750000
120,2010-11-22 18:00:00,-0.126116,51.515619,23232.203200,3.658770e+06,6097.600000
120,2010-11-22 18:30:00,-0.126116,51.515619,21712.677429,3.660608e+06,6100.571429

Let's linearly interpolate the missing values!

In [321]:
cleandf = cleandf_with_na.interpolate(method="linear")

In [326]:
cleandf = cleandf.drop(["TIME_EPOCH","TIME_BUCKET"],axis=1)

In [331]:
cleandf.to_csv(r"cleandf_40days_930_to_1830_lin_interpolated.csv")