In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold
# import xgboost
from sklearn.ensemble import RandomForestRegressor 
# import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import minmax_scale,StandardScaler
# from tqdm import tqdm_notebook

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
os.chdir(r"../Data/London")

In [4]:
df = pd.read_csv('AA_LONDON_DATA_VER3_DATA_TABLE.csv')

In [5]:
camdf = pd.read_csv('AA_LONDON_CAMERA_DATA_TABLE.csv')

In [6]:
os.chdir(r"./spatio_temporal_London/")

In [7]:
df[:2]

,S_NO,CAMERA_NAME,DOWNLOAD_DATE,IMG_NAME,DENSITY_VALUE,DL_TIMESTAMP_LOCAL,COMMENTS,CAMERA_ID,DL_TIMESTAMP_CITY,SELECT_FLAG,RED,GREEN,BLUE
0,896208,549744,22-NOV-10,1290433594,16109.680,22-NOV-10 02.46.34.000000000 PM,NaN,182,22-NOV-10 01.46.34.000000000 PM,1,63621.507812,65366.414062,64108.488281
1,896209,549744,22-NOV-10,1290434044,11318.897,22-NOV-10 02.54.04.000000000 PM,NaN,182,22-NOV-10 01.54.04.000000000 PM,1,64379.992188,66520.500000,65209.515625

In [8]:
camdf[:2]

,CAMERA_ID,CAMERA_NAME,CAMERA_DESC,EASTING,NORTHING,GEO_LAT,GEO_LON,CONGESTION_ZONE
0,105,546600,A4 Cromwell Road by Earls Court Road,525351.39,178843.06,51.494572,-0.195707,0
1,106,546610,A4 Great West Road By Macbeth Street,522781.00,178369.00,51.490875,-0.232884,0

In [9]:
mergedf = df.merge(camdf,left_on="CAMERA_ID",right_on="CAMERA_ID")

tdf = mergedf[["CAMERA_ID","GEO_LON","GEO_LAT","DL_TIMESTAMP_CITY","DENSITY_VALUE"]].copy()

tdf['TIMESTAMP']  = pd.to_datetime(tdf['DL_TIMESTAMP_CITY'],format="%d-%b-%y %I.%M.%S.000000000 %p")

try:
    tdf.drop("DL_TIMESTAMP_CITY",axis=1,inplace=True)
except:
    print("column doesn't exist")

In [10]:
tdf[:2]

   CAMERA_ID   GEO_LON    GEO_LAT  DENSITY_VALUE           TIMESTAMP
0        182 -0.245122  51.616876      16109.680 2010-11-22 13:46:34
1        182 -0.245122  51.616876      11318.897 2010-11-22 13:54:04

In [11]:
tdf["TIME_EPOCH"] = (tdf.TIMESTAMP.astype(np.int64) // 10**9)

In [12]:
tdf["TIME_EPOCH"] -= tdf.TIME_EPOCH.min()

In [13]:
tdf.TIMESTAMP.describe()

count                  896246
unique                 401908
top       2010-10-24 10:17:03
freq                      163
first     2010-10-11 09:55:01
last      2010-11-22 18:59:42
Name: TIMESTAMP, dtype: object

In [14]:
tdf["TIME_BUCKET"] = tdf.TIME_EPOCH//600

In [15]:
tdf[:2]

,CAMERA_ID,GEO_LON,GEO_LAT,DENSITY_VALUE,TIMESTAMP,TIME_EPOCH,TIME_BUCKET
0,182,-0.245122,51.616876,16109.680,2010-11-22 13:46:34,3642693,6071
1,182,-0.245122,51.616876,11318.897,2010-11-22 13:54:04,3643143,6071

In [16]:
yscaler = StandardScaler()

In [17]:
yscaler.fit(tdf["DENSITY_VALUE"].values.reshape((-1,1)))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
tdf.loc[:,"SCALED_DENSITY_VALUE"] = yscaler.transform(tdf["DENSITY_VALUE"].values.reshape((-1,1)))

In [19]:
tdf[:2]

,CAMERA_ID,GEO_LON,GEO_LAT,DENSITY_VALUE,TIMESTAMP,TIME_EPOCH,TIME_BUCKET,SCALED_DENSITY_VALUE
0,182,-0.245122,51.616876,16109.680,2010-11-22 13:46:34,3642693,6071,-0.459432
1,182,-0.245122,51.616876,11318.897,2010-11-22 13:54:04,3643143,6071,-0.906670

In [20]:
Xfeatures = ["GEO_LON","GEO_LAT"]
Tfeature = "TIME_EPOCH"
target = "SCALED_DENSITY_VALUE"

In [21]:
from pandas.plotting import autocorrelation_plot

In [22]:
tdf_10min = tdf.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='10min')]).mean()

In [23]:
tdf_1min = tdf.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='1min')]).mean()

In [24]:
tdf_30min = tdf.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='30min')]).mean()

In [25]:
tdf_1h = tdf.groupby(["CAMERA_ID",pd.Grouper(key="TIMESTAMP",freq='1H')]).mean()

In [26]:
tdf_10min.TIME_EPOCH = tdf_10min.TIME_EPOCH.astype(np.int64)
tdf_10min.TIME_BUCKET = tdf_10min.TIME_BUCKET.astype(np.int64)

In [27]:
tdf_1min.TIME_EPOCH = tdf_1min.TIME_EPOCH.astype(np.int64)
tdf_1min.TIME_BUCKET = tdf_1min.TIME_BUCKET.astype(np.int64)

In [28]:
tdf_30min.TIME_EPOCH = tdf_30min.TIME_EPOCH.astype(np.int64)
tdf_30min.TIME_BUCKET = tdf_30min.TIME_BUCKET.astype(np.int64)

In [29]:
tdf_1h.TIME_EPOCH = tdf_1h.TIME_EPOCH.astype(np.int64)
tdf_1h.TIME_BUCKET = tdf_1h.TIME_BUCKET.astype(np.int64)

In [30]:
tdf_10min[:5]

                                GEO_LON    GEO_LAT  DENSITY_VALUE  TIME_EPOCH  \
CAMERA_ID TIMESTAMP
1         2010-10-11 09:50:00 -0.218065  51.481782     51667.9180          90
          2010-10-11 10:00:00 -0.218065  51.481782     39100.7650         720
          2010-10-11 10:10:00 -0.218065  51.481782     45671.0210        1440
          2010-10-11 10:20:00 -0.218065  51.481782     45811.2860        1710
          2010-10-11 10:30:00 -0.218065  51.481782     49308.1445        2340

                               TIME_BUCKET  SCALED_DENSITY_VALUE
CAMERA_ID TIMESTAMP
1         2010-10-11 09:50:00            0              2.860066
          2010-10-11 10:00:00            1              1.686874
          2010-10-11 10:10:00            2              2.300232
          2010-10-11 10:20:00            2              2.313327
          2010-10-11 10:30:00            3              2.639772

In [31]:
tdf_10min.to_csv("tdf_10min.csv")

In [32]:
tdf_30min.to_csv("tdf_30min.csv")

In [33]:
tdf_1h.to_csv("tdf_1h.csv")

In [30]:
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose

In [31]:
def objfunc(order, exog, endog):
    try:
        fit = ARIMA(endog, order, exog).fit()
        return fit.aic
    except Exception as e:
#         print("EXCEPTION: ",e)
        return 1e8

from scipy.optimize import brute
grid = (slice(3, 8, 1), slice(0, 1, 1), slice(3, 8, 1))

In [32]:
import warnings; warnings.simplefilter('ignore')

In [33]:
from sklearn.model_selection import TimeSeriesSplit

In [34]:
tsv = TimeSeriesSplit(n_splits=4)

In [35]:
hyper_param_per_camera = {}
rmses_per_camera = {}

In [ ]:
for camera_id, group in tqdm_notebook(tdf_10min.groupby("CAMERA_ID")):
    
#     print(camera_id)
#     print(group)
    group = group.reset_index(level=0)
    
    ts = pd.Series(data=group.SCALED_DENSITY_VALUE)
#     ax = ts.plot()
    
#     autocorrelation_plot(ts)
#     print(ts)
    
    orders = brute(objfunc, grid, args=(None, ts), finish=None)
    orders = [int(t) for t in orders]
    hyper_param_per_camera[camera_id] = orders
#     model = ARIMA(ts,[int(t) for t in orders])
    
#     try:
#         mses = []

#         for train_index, test_index in tsv.split(ts):
#             model = ARIMA(ts[train_index],orders)
#             model_fit = model.fit(disp=0)
#     #         model_fit.predict(test_index[0],test_index[len(test_index)-1])
#             fc,_,_ = model_fit.forecast(test_index[len(test_index)-1] - test_index[0] + 1)
#             mses.append(mean_squared_error(ts[test_index],fc))

#         mses_per_camera[camera_id] = np.mean(mses)
#     except Exception as e:
#         print("EXCEPTION IN MSE: ",e)
    
    
        
#     fig = model_fit.plot_predict(2,len(ts)+100)
#     fig.set_size_inches((16,10))
#     ax1 = fig.axes[0]
#     print(model_fit.mle_retvals)
#     plt.show()

#     print(model_fit.summary())
    # plot residual errors
#     residuals = pd.DataFrame(model_fit.resid)
#     residuals.plot()
#     plt.show()
#     residuals.plot(kind='kde')
#     plt.show()
#     print(residuals.describe())
#     result = seasonal_decompose(ts, model='additive',freq=6*24)
    
#     fig = result.plot()
#     fig.set_size_inches((16,10))
#     plt.savefig('per_camera_seasonal_decomp/'+str(camera_id), bbox_inches='tight')
#     plt.close()

#     break

In [ ]:
mses_per_camera

In [35]:
import pickle

In [ ]:
# pickle.dump(hyper_param_per_camera,open("arima_params_per_cameras.pickle",'wb'))

In [ ]:
hyper_param_per_camera = pickle.load(open("arima_params_per_cameras.pickle",'rb'))

#### TODO: STATIONARY TEST

In [ ]:
for camera_id, group in tqdm_notebook(tdf_10min.groupby("CAMERA_ID")):
    try:
        mses = []
        group = group.reset_index(level=0)
        ts = pd.Series(data=group.SCALED_DENSITY_VALUE)
        for train_index, test_index in tsv.split(ts):
            model = ARIMA(ts[train_index],(5,1,3))
            model_fit = model.fit(disp=0)
    #         model_fit.predict(test_index[0],test_index[len(test_index)-1])
            fc,_,_ = model_fit.forecast(test_index[len(test_index)-1] - test_index[0] + 1)
            mses.append(np.sqrt(mean_squared_error(ts[test_index],fc)))
        
        mses_per_camera[camera_id] = np.mean(mses)
        break
    except Exception as e:
        print(type(e))
        print("EXCEPTION IN MSE: ",e)

In [ ]:
mses_per_camera

In [36]:
from pmdarima.arima import auto_arima
import pmdarima as pmd

In [39]:
rmses_per_camera = {}

In [40]:
import gc

#### TODO: TIMESERIES PLOTS + ACF PLOTS TO GO INSIDE THE PAPER!

In [37]:
rmse_per_cam_per_halfhour_df = pd.DataFrame(columns=["camera_id","rmse_f1","rmse_f2","rmse_f3","rmse_f4"])

In [42]:
rmse_per_cam_per_halfhour_df

   camera_id   rmse_f1   rmse_f2   rmse_f3   rmse_f4
0        1.0  0.773365  0.788429  0.995006  0.948064

In [67]:
rmse_per_cam_per_halfhour_df

   camera_id   rmse_f1   rmse_f2   rmse_f3   rmse_f4
0        1.0  1.806932  0.806775  0.990395  0.897335

In [65]:
arima.set_params()

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(0, 1, 2),
   out_of_sample_size=0, scoring='mse', scoring_args={},
   seasonal_order=(2, 0, 0, 12), solver='lbfgs', start_params=None,
   suppress_warnings=False, transparams=True, trend='c')

In [62]:
arima.get_params()

{'callback': None,
 'disp': 0,
 'maxiter': 50,
 'method': None,
 'order': (0, 1, 2),
 'out_of_sample_size': 0,
 'scoring': 'mse',
 'scoring_args': {},
 'seasonal_order': (2, 0, 0, 12),
 'solver': 'lbfgs',
 'start_params': None,
 'suppress_warnings': False,
 'transparams': True,
 'trend': 'c'}

#### Code below with ACF and all that, 24 * 0.5 hour looks like a good period! BECAUSE IT IS 8am to 8pm data??

In [ ]:
i = 0
models_params = {}
for camera_id, group in tqdm_notebook(tdf_30min.groupby("CAMERA_ID")):
    try:
        rmses = []
        group = group.reset_index(level=0)
        ts = group.SCALED_DENSITY_VALUE
#         plt.figure(figsize=(18,4))
#         ts[24:96].plot()
#         a = pmd.acf(ts,nlags=48)
#         plt.plot(a)
#         pmd.autocorr_plot(ts)
#         break

        models_params[camera_id] = { }
        
        c = 0
        for train_index, test_index in tsv.split(ts):
            model = auto_arima(ts[train_index],trace=False,
                               error_action='ignore',stepwise=True,
                               seasonal=True,m=24,
                               max_order=10,start_p=0,start_q=0,start_P=0,start_Q=0,max_p=5,max_q=5,max_P=3,max_Q=3)
            models_params[camera_id][c] = model.get_params()
            c+=1
            fc = model.predict(len(test_index))
            rmses.append(np.sqrt(mean_squared_error(ts[test_index],fc)))
            del model
#             gc.collect()
        
        rmse_per_cam_per_halfhour_df.loc[i] = [camera_id] + rmses
        i+=1
        rmse_per_cam_per_halfhour_df.to_csv("rmse_per_cam_per_0.5hour_df.csv",index=False)
            
    #         model_fit.predict(test_index[0],test_index[len(test_index)-1])
#             fc,_,_ = model_fit.forecast(test_index[len(test_index)-1] - test_index[0] + 1)
#         
#         rmses_per_camera[camera_id] = np.mean(mses)
#         break
#         with open("rmse_per_camera_autoarima.pickle",'wb') as f:
#             pickle.dump(rmses_per_camera,f)
    except Exception as e:
        print(type(e))
        print("EXCEPTION IN MSE: ",e)

HBox(children=(IntProgress(value=0, max=178), HTML(value='')))

/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/roozbeh/miniconda3/envs/spatiotemporal/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [69]:
rmse_per_cam_per_halfhour_df

     camera_id   rmse_f1   rmse_f2   rmse_f3   rmse_f4
0          1.0  1.806932  0.806775  0.990395  0.897335
1          2.0  0.632751  0.854399  1.166955  1.081298
2          3.0  5.073446  0.965734  1.472083  1.129966
3          4.0  1.545618  0.926186  0.780121  0.913740
4          5.0  0.412304  0.406121  0.515312  0.566010
5          6.0  0.805937  0.824590  0.892155  0.945944
6          7.0  0.850959  1.002399  1.170799  1.101635
7          8.0  1.840012  0.815063  1.046123  1.233248
8          9.0  0.501829  0.845964  1.022375  1.053157
9         10.0  1.428021  1.161817  0.869813  0.880010
10        11.0  1.402447  0.713603  0.896556  0.843535
11        12.0  1.252946  0.739343  1.222683  1.050847
12        13.0  0.936770  0.825138  0.895827  0.915419
13        14.0  3.229178  0.592577  0.839478  1.072090
14        15.0  0.949697  1.151743  1.122324  0.980235
15        16.0  1.553539  1.094242  1.362572  1.379932
16        17.0  0.782557  0.877781  1.043466  0.960073
17        18.0  0.761962  0.948932  1.044892  1.056697
18        19.0  1.424114  2.117793  1.202742  2.361348
19        20.0  0.705682  0.642344  0.851216  0.736125
20        21.0  0.663719  0.759338  0.833382  0.807560
21        22.0  1.060102  1.029566  1.091948  0.935476
22        23.0  0.882879  0.739327  0.879388  0.953191
23        24.0  1.184928  0.888077  0.887558  1.081180
24        25.0  0.639932  0.619048  0.653729  0.806340
25        26.0  0.998082  0.840440  1.009493  0.970301
26        27.0  0.939444  1.120620  1.167638  1.119413
27        28.0  0.684482  0.719187  0.841747  0.790603
28        30.0  1.280711  0.573105  0.705713  1.511796
29        31.0  0.787826  1.155080  1.063040  0.888770
..         ...       ...       ...       ...       ...
148      153.0  0.857438  0.827394  1.079962  2.124575
149      154.0  0.791625  1.301284  1.140828  0.847555
150      155.0  1.173222  0.534527  0.562801  0.495916
151      156.0  1.200277  1.365430  1.376566  1.024587
152      157.0  2.452349  0.873498  1.332908  1.141833
153      158.0  1.696595  0.500542  1.176437  1.302921
154      159.0  1.266962  0.816880  1.114132  0.941185
155      160.0  3.330878  0.733601  2.043401  1.350051
156      161.0  0.574026  0.612323  0.506069  0.616457
157      162.0  1.217906  0.338567  0.818535  0.520483
158      163.0  1.707598  1.071317  3.512519  2.568104
159      164.0  1.266431  0.521036  0.933660  0.972531
160      165.0  1.652324  0.902772  0.867742  0.917043
161      166.0  0.926286  0.737694  0.899008  0.899088
162      167.0  1.606477  0.648743  0.869818  1.031117
163      168.0  1.571261  0.804509  1.016907  1.167993
164      169.0  0.702233  0.823509  1.064381  1.083979
165      170.0  0.802292  1.546095  0.783819  0.868183
166      171.0  2.165086  0.929480  0.617544  0.653835
167      172.0  0.815482  0.719032  1.063838  0.772369
168      173.0  1.037450  0.922199  0.837424  1.051880
169      174.0  1.611233  0.687500  0.880984  0.949662
170      175.0  2.768909  0.703358  0.917576  1.114610
171      176.0  0.661991  0.528346  0.624398  0.669748
172      177.0  1.281288  0.417487  0.936450  0.820008
173      178.0  2.796397  0.990717  1.170423  0.969706
174      179.0  1.291603  0.975966  1.342730  1.356688
175      180.0  1.079612  0.817555  0.946398  0.872121
176      181.0  2.639331  0.844903  0.915587  0.949808
177      182.0  1.157846  1.003852  1.035468  1.037620

[178 rows x 5 columns]

In [75]:
pd.DataFrame(data=models_params.values())

ValueError: DataFrame constructor not properly called!

In [81]:
with open("models_params.pickle",'wb') as f:
    pickle.dump(models_params,f)

In [ ]:
pickle.dump(rmses_per_camera,open("rmse_per_camera_autoarima.pickle",'wb'))

In [8]:
pickle.load(open("rmse_per_camera_autoarima.pickle",'rb'))

{1: 1.054924781313345}

In [ ]:
plt.plot(ts)

In [ ]:
plt.plot(ts-fc)